{% extends "layout.html" %}

{% block body %}
<b><font size="+2">
    Here is some information about your agency</font>
</b>
<p></p>
{% if sum_all_freetimes_agency %}
<b>
  Here is how many unreserved workingtimes you have in your agency:
</b>
<p></p>
<ul>
  {% for workingtimes in sum_all_freetimes_agency %}
  <li>
    {{workingtimes.id}}
  </li>
  {% endfor %}
</ul>

{% endif %}
<p></p>

{% if sum_all_reservedtimes_agency %}
<b>
  Here is how many reservations you have in your agency:
</b>
<p></p>
<ul>
  {% for workingtimes in sum_all_reservedtimes_agency %}
  <li>
    {{workingtimes.id}}
  </li>
  {% endfor %}
</ul>

{% endif %}
<p></p>

{% if mostfree_workingtimes_agency %}
<b>
  The following nanny has most unreserved workingtimes:
</b>
<p></p>
<ul>
  {% for nanny in mostfree_workingtimes_agency %}
  <li>
    {{nanny.name}}
  </li>
  <p></p>
  <p>
    Number of unreserved workingtimes:
  </p>
  <li>
    {{nanny.workingtimeamount}}
  </li>
  {% endfor %}
</ul>

{% endif %}

{% if mostreserved_nanny_agency %}
<b>
  The following nanny has most reservations:
</b>
<p></p>
<ul>
  {% for nanny in mostreserved_nanny_agency %}
  <li>
    {{nanny.name}}
  </li>
  <p></p>
  <p>
    Number of reservations:
  </p>
  <li>
    {{nanny.workingtimeamount}}
  </li>
  {% endfor %}
</ul>

{% endif %}
<p></p>
{% if has_workingtimes_agency %}
<b>
  The following nannies have unreserved workingtimes in your agency:
</b>
<p></p>
<ul>
  {% for nanny in has_workingtimes_agency %}
  <li>
    {{nanny.name}}
  </li>
  {% endfor %}
</ul>

{% endif %}



<b><font size="+2">Here is some information about ALL of the agencies:</font></b>
<p></p>
{% if has_workingtimes is defined %}
<b>
  The following nannies have unreserved workingtimes in ALL of the agencies:
</b>
<p></p>
<ul>
  {% for nanny in has_workingtimes %}
  <li>
    {{nanny.name}}
  </li>
  {% endfor %}
</ul>

{% endif %}




{% if mostfree_workingtimes is defined %}
<b>
  Nanny with most free workingtimes in ALL of the agencys:
</b>
<p></p>
<ul>
  {% for nanny in mostfree_workingtimes %}
  <li>
    {{nanny.name}}
  </li>
  <p></p>
  <p>
    Number of unreserved workingtimes:
  </p>

  <li>
    {{nanny.workingtimeamount}}
  </li>
  {% endfor %}
</ul>
{% endif %}

{% endblock %}