{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Nanny</th>

    </tr>
    {% for nanny in nannies %}
    <tr>
<th>Name</th>
      <td>{{ nanny.name }}</td>
<th>Age</th>
      <td>{{ nanny.age }}</td>
<th>Phonenumber</th>
      <td>{{ nanny.phonenumber }}</td>
      <td colspan="2">
<a href="{{ url_for('workingtimes_list', id=nanny.id) }}"> View availability</a>
<a href="{{ url_for('workingtimes_form', id=nanny.id) }}"> Add a new workingtime</a>
<a href="{{ url_for('nannies_deletefromagency', id=nanny.id) }}"> Delete nanny</a>       
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}

