{% extends "layout.html" %}

{% block body %}
<tr>
  <th>
    <font size="5" color="black">
    Nannies in your agency
  </font>
</th>
</tr>
  <table>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Phonenumber</th>
    </tr>
    
    {% for nanny in nannies %}
    <tr>
      <td>{{ nanny.name }}</td>
      <td>{{ nanny.age }}</td>
      <td>{{ nanny.phonenumber }}</td>

<td>
  <form method="GET" action="{{ url_for('workingtimes_list', id=nanny.id)}}">
    <input type="submit" value="View availability"/></li>
  </form>
</td>   
<td>
  <form method="GET" action="{{ url_for('workingtimes_form', id=nanny.id)}}">
    <input type="submit" value="Add a new workingtime"/></li>
  </form>
</td>  
<td>
  <form method="GET" action="{{ url_for('nannies_deletefromagency', id=nanny.id)}}">
    <input type="submit" value="Delete nanny"/></li>
  </form>
</td>   
<td>
  <form method="GET" action="{{ url_for('nannies_update_form', id=nanny.id)}}">
    <input type="submit" value="Update nanny"/></li>
  </form>
</td>   

    </tr>
    {% endfor %}
  </table>
{% endblock %}
